.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
analysis/
data/cihi/*
!data/cihi/provenance.txt
data/dpd/*
!data/dpd/provenance.txt
data/input_din_list.csv
data/dictionary_who_atc.csv
log/
output/
tests/
